@import "tailwindcss";

:root {
  --color-primary: #C41230;
  --color-primary-hover: #A50E28;
  --color-bg: #0A0A0A;
  --color-bg-card: #141414;
  --color-bg-light: #F8F8F8;
  --color-border: #242424;
  --color-border-light: #E5E5E5;
  --color-accent: #C41230;
  --color-accent-light: #FF3352;
}

html, body {
  background-color: var(--color-bg);
  color: white;
  margin: 0;
  padding: 0;
}